name: Deploy Backend

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SSH and deploy
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ 192.168.251.26 }}
          username: ${{ yaseen_haik }}
          password: ${{ Yaseen@121 }}
          script: |
            cd /home/${{ secrets.SERVER_USER }}/my-backend
            git pull
            sudo systemctl restart mybackend
