name: Deploy Backend to EC2

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH Key
        run: |
          echo "${{ secrets.SERVER_SSH_KEY }}" | base64 --decode > ec2-key.pem
          chmod 600 ec2-key.pem

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no -i ec2-key.pem ec2-user@${{ secrets.SERVER_IP }} "
            cd /home/ec2-user/my-backend &&
            git pull &&
            sudo docker stop my-backend || true &&
            sudo docker rm my-backend || true &&
            sudo docker build -t my-backend:latest . &&
            sudo docker run -d -p 3000:3000 --name my-backend my-backend:latest
          "
